    <tr class="table-content">
    <td>Name: <%= link_to book.name, book %></td>
    <td>Author: <%= book.author %></td>
    <td>Description: <%= book.description %></td>
    <td>Price: <%= book.price %></td>
    </tr>
