<h1>About#index</h1>
<p>Crook’s is a business that has been running for over 20 years in the Exchange District of Winnipeg. 
    Customer’s often come in because of the name, expecting a store that doesn’t take itself seriously. 
    Reed Eghr has not initially realized what he believed to be just a combination between the words 
    ‘Crafts’ and ‘Books’ in the stores name ‘Crooks’ had a different meaning, until well past the timeframe 
    he could comfortably change the stores name. Now he has embraced it as part of its identity.</p>
